.home-content {
  margin-top: -100px;
  position: relative;
  z-index: 2;
}

.home-content > .movie-row:first-child {
  padding-top: 20px;
}

@media (max-width: 768px) {
  .home-content {
    margin-top: -70px;
  }
}
